body {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-style: normal;
  font-size: var(--text-md);
  line-height: var(--body-line-height);
  color: var(--text-light);
  background-color: var(--bg-dark-grey);
}

a {
  color: var(--clr-pink);
}

h1,
h2,
h3 {
  color: var(--clr-pink);
}
