@use '../abstracts/sizes' as *;

:root {
  --ff-text: 'Open Sans', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --bg-dark-grey: #363636;
  --shadow-dark: #2a2a2a;
  --shadow-light: #424242;
  --clr-pink: #ed408d;
  --text-light: white;
  --text-dark: black;
  --heading-line-height: 1.25;
  --body-line-height: 1.6;
  --size-unit: 1rem;
  --flow-spacer: var(--size-unit, 1rem);

  @each $size, $value in $sizes {
    --text-#{$size}: #{$value};
  }

  @each $size, $value in $sizes {
    --space-#{$size}: #{$value};
  }
}
