@use '../abstracts/sizes' as *;

.container {
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-sm);
}

@media screen and (min-width: 24rem) {
  .container {
    max-width: 32rem;
    padding: var(--space-lg);
  }
}

.emphasize {
  color: var(--clr-pink);
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.center-align {
  text-align: center;
}

.small-text {
  font-size: var(--text-sm);
}

.flow > * + * {
  margin-top: var(--flow-spacer) !important;
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * {
  flex-basis: 100%;
}

.split > * + * {
  margin: var(--space-lg) 0 0 0;
}

.phone-split {
  display: flex;
  flex-direction: row;
}

.phone-split > * {
  flex-basis: 100%;
}

.phone-split > * + * {
  margin: 0 0 0 var(--flow-spacer);
}

.phone-split > *:first-child {
  flex-basis: 20%;
}

@media screen and (min-width: 32rem) {
  .split {
    flex-direction: row;
  }

  .split > * + * {
    margin: 0 0 0 var(--space-lg) !important;
  }

  .flow.split {
    margin-top: var(--flow-spacer);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@each $size, $value in $sizes {
  .mt-#{$size} {
    margin-top: $value;
  }
}
